{% extends 'base.html' %}

{% block title %}{{ goods.name }}{% endblock title %}

{% block content %}
    {% csrf_token %}
    {#	<div class="navbar_con">#}
    {#		<div class="navbar clearfix">#}
    {#			<div class="subnav_con fl">#}
    {#				<h1>全部商品分类</h1>	#}
    {#				<span></span>			#}
    {#				<ul class="subnav">#}
    {#					<li><a href="#" class="fruit">新鲜水果</a></li>#}
    {#					<li><a href="#" class="seafood">海鲜水产</a></li>#}
    {#					<li><a href="#" class="meet">猪牛羊肉</a></li>#}
    {#					<li><a href="#" class="egg">禽类蛋品</a></li>#}
    {#					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>#}
    {#					<li><a href="#" class="ice">速冻食品</a></li>#}
    {#				</ul>#}
    {#			</div>#}
    {#			<ul class="navlist fl">#}
    {#				<li><a href="">首页</a></li>#}
    {#				<li class="interval">|</li>#}
    {#				<li><a href="">手机生鲜</a></li>#}
    {#				<li class="interval">|</li>#}
    {#				<li><a href="">抽奖</a></li>#}
    {#			</ul>#}
    {#		</div>#}
    {#	</div>#}

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">新鲜水果</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{{ MEDIA_URL }}{{ goods.thumb }}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ goods.name }}</h3>
            <p>{{ goods.brief }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em id="pr">{{ goods.price }}</em></span>
                <span class="show_unit">单  位：{{ goods.unit }}g</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input id="goods_num" type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr" id="add_num">+</a>
                    <a href="javascript:;" class="minus fr" id="minus_num">-</a>
                </div>
            </div>
            <div class="total">总价：<em id="total">{{ goods.price }}</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        <a href="#"><img src="images/goods/goods001.jpg"></a>
                        <h4><a href="#">进口柠檬</a></h4>
                        <div class="prize">￥3.90</div>
                    </li>
                    <li>
                        <a href="#"><img src="images/goods/goods002.jpg"></a>
                        <h4><a href="#">玫瑰香葡萄</a></h4>
                        <div class="prize">￥16.80</div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>
            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{ goods.intorduce }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="add_jump"></div>
    <script type="text/javascript">

        {# 数量的加减操作 #}
        $('#add_num').click(function () {
            {# jq的val()等同于js的 value 属性 #}
            $('#goods_num').val(parseInt($('#goods_num').val()) + 1)

            num = $('#goods_num').val()
            parseInt(num)
            $('#total').html($('#pr').html() * parseInt(num) + '元') //总价#}
        })

        $('#minus_num').click(function () {
            {# jq的val()等同于js的 value 属性 #}
            if ($('#goods_num').val() > 0) {
                $('#goods_num').val(parseInt($('#goods_num').val()) - 1)
            }
            num = $('#goods_num').val()
                parseInt(num)
                $('#total').html($('#pr').html() * parseInt(num) + '元') //总价
        })
        {#$('#total').html(parseInt($('#goods_num').val()) *  $('#pr').html() + '元')#}
        {#num=$('#goods_num').val()#}
        {#parseInt(num)#}
        {#$('#total').html($('#pr').html()* parseInt(num))#}

        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})
        $('#add_cart').click(function () {
            $(".add_jump").stop().animate({
                    'left': $to_y + 7,
                    'top': $to_x + 7
                },
                "fast", function () {
                    $(".add_jump").fadeOut('fast');

                });


            {# 异步请求加入购物车 #}
            $.ajax({
                url: "{% url 'add_to_cart' %}",
                type: 'POST',
                {#将CSRF-Token返回服务端#}
                headers: {
                    'X-CSRFTOKEN': $.cookie('csrftoken')
                },
                data: {
                    goods_id: {{ goods.id }},
                    number: $('#goods_num').val()
                },
                success: function (res) {
                    $('#show_count').html(res);
                }
            })
        })
    </script>
{% endblock content %}