{% extends 'base.html' %}
{% load static %}
{% block title %}提交订单{% endblock title %}
{% block content %}

    <h3 class="common_title">确认收货地址</h3>
    <div class="common_list_con clearfix">
        <dl>
            <dt>寄送到：</dt>
            {% for abc in car %}
            {{ abc.amply }}
            {% endfor %}
        </dl>
        <a href="{% url 'site' %}" class="edit_site">编辑收货地址</a>

    </div>

    <h3 class="common_title">支付方式</h3>
    <div class="common_list_con clearfix">
        <div class="pay_style_con clearfix">
            <input type="radio" name="pay_style" checked>
            <label class="cash">货到付款</label>
            <input type="radio" name="pay_style">
            <label class="weixin">微信支付</label>
            <input type="radio" name="pay_style">
            <label class="zhifubao">支付宝</label>
            <input type="radio" name="pay_style">
            <label class="bank">银行卡支付</label>
        </div>
    </div>

    <h3 class="common_title">商品列表</h3>

    <div class="common_list_con clearfix">
        <ul class="goods_list_th clearfix">
            <li class="col01">商品名称</li>
            <li class="col02">商品单位</li>
            <li class="col03">商品价格</li>
            <li class="col04">数量</li>
            <li class="col05">小计</li>
        </ul>


        {% for id in cartgoods %}
            <ul class="goods_list_td clearfix">

                <li class="col01">{{ id.goods.id }}</li>
                <li class="col02"><img src="{{ MEDIA_URL }}{{ id.goods.thumb }}"></li>
                <li class="col03">{{ id.goods.name }}</li>
                <li class="col04">500g</li>
                <li class="col05">{{ id.goods.price }}</li>
                <li class="col06" data-id="{{ id.id }}">{{ id.number }}</li>
                <li class="col07">{{ id.goods.price }}</li>

            </ul>
        {% endfor %}
    </div>

    <h3 class="common_title">总金额结算</h3>

    <div class="common_list_con clearfix">
        <div class="settle_con">
            <div class="total_goods_count">共<em>{{ num }}</em>件商品，总金额<b id="total">0元</b></div>
            <div class="transit">运费：<b>10元</b></div>
            <div class="total_pay">实付款：<b id="all">0元</b></div>
        </div>
    </div>


    <div class="order_submit clearfix">
        <a href="javascript:;" id="order_btn">提交订单</a>
    </div>

    <div class="popup_con">
        <div class="popup">
            <p>订单提交成功！</p>
        </div>

        <div class="mask"></div>
    </div>
    <script type="text/javascript" src="{% static 'jquery-1.12.2.js' %}"></script>
    <script type="text/javascript">
        {#点击订单提交按钮，弹出对话框代码#}
        $('#order_btn').click(function () {
            localStorage.setItem('order_finish', 2);
            $('.popup_con').fadeIn('fast', function () {

                setTimeout(function () {
                    $('.popup_con').fadeOut('fast', function () {
                        window.location.href = '{% url "index" %}';
                    });
                }, 3000)

            });
        });

    </script>
    <script>
        $(window).ready(function () {
            $('.col06').change(function () {
                // 获取商品单价
                price = parseFloat($(this).prev().html()) * 100
                // 计算小计

                sum = price * $(this).text()
                // 获取小计的元素并赋值
                $(this).next().text((sum / 100).toFixed(2) + '元')
                // 计算总价
                var total = 0
                $('.col07').each(function (i, el) {
                    total += parseFloat($(el).html()) * 100
                    $('#total').text((total / 100).toFixed(2))

                })
                $('#total').text((total / 100).toFixed(2))
                a = parseFloat($('#total').text()) + 10
                $('#all').text(a.toFixed(2) + '元')
            })

            $('.col06').change()
        })
    </script>

    <script>
        {#提交订单到数据库#}
        $('#order_btn').click(function () {
            aa = []
            $('.col06').each(function (i, el) {
                aa.push($(el).attr('data-id'))
            })
            $.ajax({
                url: '{% url "create_order" %}',
                type: 'POST',
                headers: {
                    'X-CSRFTOKEN': $.cookie('csrftoken')
                },
                data: {
                    ordergoods_id: aa.toString()
                },
            });
            return false
        })
    </script>


{% endblock content %}